// fonts
$base-font-size: 14;
$base-font: 'Inter', sans-serif;;

// color
$dark-gray: #183548;
$white: #fff;
$black: #000;

$blue: #007FFF;
$dark-blue: #132C3D;

$theme-primary-color: #ff6b22;
$body-bg-color: #f2f0f0;
$section-bg-color: #edecec;
$text-color: #798392;
$heading-color: $dark-gray;

$options-theme-color: $blue;
$option-theme-dark-color: $dark-blue;
